* 
{
  margin: 0;
  padding: 0;
}
body {
    text-align: center; 
    min-width: 100 vh;
}
header {
    width: 900px;
    height: 99px;
    }
nav li {
    display: inline;
    margin-right: 60px;
    margin-left: 60px;
    text-align: center;
    list-style: none;
}
li a {
text-transform: uppercase;
}
nav {
 text-align: center;
 font-family: "Playfair Display", serif;
 font-size: 14px;
 text-transform: uppercase;
 margin-bottom: 103px;
 margin-top: 49px;
 font-weight: bold;
 margin-left: 270px;
 text-transform: none;
 }
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.card {
display:inline-block;
width: 420px;
margin-right: 58px;
font-family: 'Playfair Display', serif;
text-align: left;
}
p {
    margin-top: 38px;
    margin-bottom: 148px;
    font-size: 14px;
}
button{
    width: 160px;
    height: 60px;
    margin-left: -52px;
    margin-top: -git54px;
    margin-bottom: 54px;
}
h4 {
    margin-top: 31px;
    margin-bottom: 33px;
    text-transform: uppercase;
}
h3{
    line-height: 23px;
}
